.header-container {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.user-info {
    padding-left: 25px;
    font-size: 1.2rem;
    font-weight: 700;
}

.user-info-loc {
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: -7px;
}

.pr15 {
    padding-right: 5px;
}

.p-r-l-15 {
    padding-right: 8px;
}

.info {
    font-weight: 700;
}

/* Card styles */
.main-container {
    background: rgb(56,115,199);
    background: linear-gradient(90deg, rgba(56,115,199,1) 0%, rgba(64,132,212,1) 34%, rgba(78,141,218,1) 57%, rgba(56,115,199,1) 100%);
    border: 2px solid rgb(204, 197, 197);
    border-radius: 7px;
    box-shadow: 3px 3px 11px 0px rgba(0, 0, 0, 0.3);
    color: #fff;
    padding: 10px 15px;

    box-shadow: 1px 1px 11px 0px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 1px 11px 0px rgba(0,0,0,1);
    -moz-box-shadow: 1px 1px 11px 0px rgba(0,0,0,1);
}

.user-info-img {
    box-shadow: 1px 1px 11px 0px rgba(0,0,0,1);
-webkit-box-shadow: 1px 1px 11px 0px rgba(0,0,0,1);
-moz-box-shadow: 1px 1px 11px 0px rgba(0,0,0,1);
}

.slds-icon-utility-identity svg {
    fill: #fff; 
}

p {
    padding: 3px 0;
}

.contact-photo {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    object-fit: cover;
}
